.grid-container{
	display: grid;
	grid-template-areas:
	 "main";
	 grid-template-columns: 1fr;
	 grid-template-rows:1fr;
	 height:100%;
}

.products{
	display:flex;
 	justify-content:center; 
 	align-items:center; 
}


.products li{
	list-style-type:none;
	padding: 0;
	flex: 0 1 34rem;
	margin: 1rem;
	height: 50rem;
	border-bottom: .1rem #c0c0c0 solid;
}

.product{
	display:flex;
 	flex-direction:column;
 	justify-content:space-between;
 	height:100%
}

.product-name{
	font-size: 2rem;
	font-weight:bold;
}

.product-image{
	max-width:10rem;
	max-height:10rem;
}

.desc{
	text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
margin-bottom: 10px;
}

.items{
	display:flex;
	flex-direction:row;
 	flex-wrap: wrap;
 	flex-grow:left;
}
.buttons{
	display:flex;
	flex-direction: row;
}

/* .buttons form{ */
/* 	    padding:4rem; */
/* } */
.item{
	margin:auto;
	padding:20px;
	width:20rem;
	height: 18rem;
}
