<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OnlineShopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/error.jsp</location>
  </error-page>
  
  <servlet>
		<servlet-name>userRegister</servlet-name>
		<servlet-class>shop.register.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userRegister</servlet-name>
		<url-pattern>/userRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminRegister</servlet-name>
		<servlet-class>shop.register.AdminRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminRegister</servlet-name>
		<url-pattern>/adminRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userLogin</servlet-name>
		<servlet-class>login.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogin</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminLogin</servlet-name>
		<servlet-class>login.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminLogin</servlet-name>
		<url-pattern>/adminLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>login.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productCreate</servlet-name>
		<servlet-class>controllers.product.ProductCreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productCreate</servlet-name>
		<url-pattern>/productCreate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productUpdate</servlet-name>
		<servlet-class>controllers.product.ProductUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productUpdate</servlet-name>
		<url-pattern>/productUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productDelete</servlet-name>
		<servlet-class>controllers.product.ProductDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productDelete</servlet-name>
		<url-pattern>/productDelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>productDetails</servlet-name>
		<servlet-class>controllers.product.ProductDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productDetails</servlet-name>
		<url-pattern>/productDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cart</servlet-name>
		<servlet-class>controllers.cart.CreateCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cart</servlet-name>
		<url-pattern>/addToCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cartDelete</servlet-name>
		<servlet-class>controllers.cart.DeleteItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cartDelete</servlet-name>
		<url-pattern>/deleteItem</url-pattern>
	</servlet-mapping>
	
</web-app>